    <tr<%= cycle(' class="alt"', '') %>>
<% (member.respond_to?(:content_columns) ? member.content_columns : member.class.content_columns ).each do |column| -%>
      <% # needs to take into account column formatting %>
      <td><%= (s = member.send(column.name)).blank? ? '&nbsp;' : h(s) %></td>
<% end -%>
      <td class="actions">
        <%= link_to 'Edit',   edit_member_path(member) %> <span>|</span>
        <%= link_to 'Delete', delete_member_path(member) %>
      </td>
    </tr>
