/*
  ###################################################################
  IDM: main stylesheet
  author: miguelregedor[at]gmail[dot]com
  ###################################################################
*/

/* = Reset. http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
  font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* = Typography
-------------------------------------------------- */
a                                   { text-decoration: underline; color: #fff;}
a:hover                             { color:#68f; text-decoration: none;}
p                                   { font-size: 1.1em; line-height: 1.7; margin-bottom: 1.5em; }
h2                                  { font-size: 2.2em; }

h3                                  { font-size: 1.8em; }
h4                                  { font-size: 1.6em; color: #68f;}
#content p                          { font-size: 1.26em; color: #fff;}
#full-info td                       { font-size: 1.2em; color: #68f;}
#full-info td.column-title          { font-size: 1.25em; color: #fff;}
#related-info #related-prizes li p  { margin-bottom: 0.5em;}
#related-info h4                    { margin: 0.6em 0;}

.resource-list a                    { text-decoration:none;}
.resource-list th                   { font-size: 1.6em; color: #68f;}             
.resource-list td                   { font-size: 1.2em;}         

.flash_text                         { font-size: 1.2em; text-align:center;}

#login-form label, 
#signup-form label                  { font-size: 1.3em; color: #68f; line-height: 1.7; }
#login-form, 
#signup-form                        { text-align: center;margin-top:20px;}
#login-form input, 
#signup-form input                  { margin-bottom: 1em;}



/* = Structure
-------------------------------------------------- */
body               { background:  #0a1117 url(/images/bg_body-bottom.gif) repeat-x scroll bottom;  
                     margin: 0;  padding: 0; font-size: 62.5%; color: #fff;
                     font-family: Verdana, HelveticaNeue, Helvetica, Arial, sans-serif; }

#wrapper           { background: #39414a url(/images/bg_wrapper-top.gif) repeat-x top; }

#nav-bar,
#header,
#content-wrapper,
#footer            { width:  972px; margin: 0 auto; }

#header            { height: 166px;  }
#idm-logo          { background: url(/images/bg_logo.gif) no-repeat 35px 0px;
                     text-indent: -6666px; height:166px; width:449px; float:left; }
#account-bar       { width:  350px; padding: 20px 56px; float:right; text-align:right; }
#account-bar a     { font-size: 1.2em; text-decoration: none; color: #fff; }

#nav-bar           { height: 59px; }
#page_title        { float: left; width: 480px; margin-left: 55px; }
#page_title h2     { padding-top: 30px; margin-top: -0.5em;height:1.15em;overflow:hidden;}
#nav               { float: right; width: 400px; height: 59px; margin-right:24px;}
#nav a             { background: url(/images/bg_buttons.gif) no-repeat;
                     float: left; text-indent: -6666px;  width: 63px; height:59px; display:block; }
#nav a:hover       { background: url(/images/bg_buttons-hover.gif) no-repeat; }
#nav a#nav-movies-link           { background-position: -11px;}
#nav a#nav-sound_documents-link  { background-position: -74px;} 
#nav a#nav-writen_documents-link { background-position: -137px;}  
#nav a#nav-photos-link           { background-position: -200px;}  
#nav a#nav-authors-link          { background-position: -263px;}  
#nav a#nav-directors-link        { background-position: -326px;}  

#content-wrapper     { background: url(/images/bg_content-wrapper.gif) repeat-y center; }
#content             { background:  url(/images/bg_content.gif) no-repeat top;
                       width: auto; padding: 22px 55px; min-height:  250px; }
#footer              { background:   url(/images/bg_footer.gif) no-repeat top center;
	               height: 60px; padding-top: 40px; text-align: center; font-size: 1.2em; }
#footer a            { color:       #fff; text-decoration: none; }



/* = Show Structure
-------------------------------------------------- */
#generic-info #fields                     { float: right; width:420px; }	
#generic-info #item-visuals               { float: left;  width:425px; }
#generic-info #related-photos             { float: left;  width: 425px; margin-top: 20px; }
#generic-info #item-presenter             { min-height: 300px; }


#related-info .related-items              { float: left; width: 50%;}
/*#related-info #related-prizes > h4         { background: url(/images/bg_division-bar.gif) no-repeat; padding-left:60px}
*/
#full-info, #related-info                 { background: url(/images/bg_division-bar.gif) repeat-x top;
                                            margin : 20px -20px 7px -20px; padding: 0 20px 0 20px; }
#full-info > h3, #related-info > h3       { padding-top: 22px; top:-0.5em; padding-bottom: 5px; position:relative}
#related-info                             { padding-right:0;}
#show-movie #generic-info #item-presenter { background: url(/images/bg_big-pic-movie.gif) no-repeat center -20px; }

#full-info-fields                         { padding-top:10px;}
#full-info table                          { width: 100%; border-collapse: collapse; border: 1px solid #777}
#full-info table                          { margin-top: 11px;}
#full-info tr.odd                         { background: #39414a; }
#full-info td.column-title                { border-right: 1px solid #777; text-align:right;width: 9.9em;}
#full-info td                             { padding: 0.5em; }

.resource-list {margin:0 -20px}
.resource-list table                      { width: 100%; border-collapse: collapse;}
.resource-list tr.odd                     { background: #39414a;}
.resource-list td, .resource-list th      { padding: 0.5em 0; }
.resource-list .resource-pic      { width: 20px; }




/* Self-clearing floats */
#related-info:after,
#generic-info:after{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
