/*
  ###################################################################
  IDM: main stylesheet
  author: miguelregedor[at]gmail[dot]com
  ###################################################################
*/

/* = Reset. http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
  font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* = Typography
-------------------------------------------------- */
a {
  text-decoration: none;
}
p {
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 1.5em;
}
h1 {
  color: #014670;
  font-size: 1.9em;
  line-height: 1.45;
}
h1 small {
  display: block;
  font-size: .5em;
  color: #aaa;
  text-transform: uppercase;
}
h1 small span {
  display: none;
}

h2 {
  font-size: 1.5em;
}

/* = Structure
-------------------------------------------------- */
body {  
  margin:      0;  
  padding:     0;  
  font-size:   62.5%;  
  color:       #fff;  
  background:  #0a1117 url(/images/bg_body-bottom.gif) repeat-x scroll bottom;  
  font-family: Verdana, HelveticaNeue, Helvetica, Arial, sans-serif; 
}
#wrapper { background: #39414a url(/images/bg_wrapper-top.gif) repeat-x top; }
#nav-bar,#header,#content-wrapper,#footer { 
  width:  972px; 
  margin: 0 auto; 
}

#header              { height: 166px;  }
#idm-logo            { 
  text-indent: -6666px;
  background: url(/images/bg_logo.gif) no-repeat 35px 0px;
  height:166px;
  width:449px;
  float:left;
}
#account-bar   { width:  350px; padding: 20px 56px; float:right; text-align:right; }
#account-bar a { font-size: 1.2em; text-decoration: none; color: #fff; }

#nav-bar       { height: 59px; }
#page_title    { float: left; margin-left: 55px; }
#page_title h2 { font-size: 2.2em; padding-top: 30px; margin-top: -0.5em;}
#nav           { float: right; width: 400px; height: 59px; margin-right:35px;}
#nav a { 
 text-indent: -6666px; 
 background: url(/images/bg_buttons.gif) no-repeat;
 width: 63px;
 height:59px;
 display:block;
 float: left;
}
#nav a:hover { background: url(/images/bg_buttons-hover.gif) no-repeat; }
#nav a#nav-movies-link           { background-position: -0px;}
#nav a#nav-sound_documents-link  { background-position: -63px;} 
#nav a#nav-writen_documents-link { background-position: -126px;}  
#nav a#nav-photos-link           { background-position: -189px;}  
#nav a#nav-authors-link          { background-position: -252px;}  
#nav a#nav-directors-link        { background-position: -315px;}  

#content-wrapper     { background: #39414a url(/images/bg_content-wrapper.gif) repeat-y center; }

#content{
  width: auto;
  background:  url(/images/bg_content.gif) no-repeat top;
  padding: 22px 55px;
  min-height:  250px;
}
#footer {
  height:       60px;
  background:   url(/images/bg_footer.gif) no-repeat top center;
  padding-top:  40px;
  text-align:   center;
  font-size: 1.2em;
}
#footer a {
  color:       #fff;
  text-decoration: none;
}



/* = Show Structure
-------------------------------------------------- */
#generic-info #fields {
  width:420px;
  float:right;

}	
#generic-info #item-presenter {
  width:425px;
  float:left;

}
#generic-info #photos {
  width: 425px;
  margin-top: 20px;
  float:left;

}
#full-info > h3, #related-info > h3{
margin : 0 -20px;
height: 55px;
background: url(/images/bg_division-bar.gif) repeat-x center;
}


/* Self-clearing floats */
#generic-info:after{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

