<% content_for :page_title, "Acerca do Projecto" %>
<% content_for :body_id,    "about" %>


<p>
Um pouco por toda a América Latina se constata a existência de práticas sociais e rituais referenciadas à cultura bantu de origem africana. Esta remete igualmente para cultura europeia e a influência cristã e historicamente, para a expansão europeia e a deslocação massiva mão-de-obra africana para as Américas. Procuramos neste projecto ver as continuidades e de descontinuidades destas práticas e a suas reconfigurações nos processos coloniais diferenciados (espanhol e português), procuramos também ver nos rituais processo de identidade e de resistência no contexto colonial e na passagem às independências e os projectos de criação de novas identidades nas sociedades actuais. Na fase actual do projecto pretende-se divulgar e actualizar a produção escrita e audiovisual realizada e proceder à montagem, produção teórica, organização de base de dados da informação recolhida.
</p>

<h4>Coordenador do Projecto</h4>
<h5 class="person-name">José da Silva Ribeiro</h5>
<p><small>jribeiro@univ-ab.pt</small></p>
<p>
Licenciado em Filosofia pela Universidade do Porto, Curso Superior de Cine-Vídeo pela Escola Superior Artística do Porto, Mestre em Comunicação Educacional Multimédia e Doutorado em Ciência Sociais pela Universidade Aberta. Professor na Universidade Aberta, Departamento de Ciências Sociais e de Gestão e coordenador da área de Antropologia Visual do Centro de Estudos das Migrações e das Relações Interculturais/CEMRI, da Universidade Aberta.
</p>


<h4>Gestão da base</h4>
<p>APORCV - Associação pelo Cibervoluntariado</p>

<h4>Apoios</h4>
<p><% link_to "CEMRI – Centro de Estudos das Migrações e das Relações Interculturais", '' %>
               CEMRI – Centro de Estudos das Migrações e das Relações Interculturais</p>
<p><%= link_to "UAb – Universidade Aberta", 'http://www.univ-ab.pt/' %></p>

<div id=logos>
  <%= link_to image_tag('logo_cemri.gif'), '' %>
  <%= link_to image_tag('logo_uab.gif'), 'http://www.univ-ab.pt/' %>
</div>
