<% content_for :page_title, "Acerca do Projecto" %>
<% content_for :body_id,    "about" %>

<p>
Este projecto visa a recolha, organização e a disponibilização online de informação fílmica, sonora e documental sobre as migrações em Portugal e na diáspora. A base de dados pretende articular e potenciar conteúdos em linguagens e suportes diversificados como importantes fontes de conhecimento e a sua utilização em contextos educativos, científicos, ou de actividades de dinamização cultural, social e cívica. O dispositivo e disponibilização de uma grelha de leitura e análise de filmes elaborada de forma interactiva têm como objectivos facilitar a aquisição de competências de utilização da informação bem como promover a construção colaborativa de conhecimento por um universo alargado de utilizadores. 
</p>

<h4>Coordenadores do Projecto</h4>
<h5 class="person-name">José da Silva Ribeiro</h5>
<p><small>jribeiro@univ-ab.pt</small></p>
<p>
Licenciado em Filosofia pela Universidade do Porto, Curso Superior de Cine-Vídeo pela Escola Superior Artística do Porto, Mestre em Comunicação Educacional Multimédia e Doutorado em Ciência Sociais pela Universidade Aberta. Professor na Universidade Aberta, Departamento de Ciências Sociais e de Gestão e coordenador da área de Antropologia Visual do Centro de Estudos das Migrações e das Relações Interculturais/CEMRI, da Universidade Aberta.
</p>

<h5 class="person-name">Ana Paula Beja Horta </h5>
<p><small>apbhorta@univ-ab.pt</small></p>
<p>
Licenciada e Mestre em Antropologia e Doutorada em Sociologia pelo Departamento de Sociologia e Antropologia da Simon Fraser University, no Canadá, é Professora Auxiliar com Nomeação Definitiva na Universidade Aberta, Departamento de Ciências Sociais e de Gestão. É coordenadora da área de Investigação  das Migrações do Centro de Estudos das Migrações e das Relações Interculturais/CEMRI, da Universidade Aberta.
</p>

<h4>Gestão da base</h4>
<p>APORCV - Associação pelo Cibervoluntariado</p>

<h4>Apoios</h4>
<p><%= link_to "ACIDI – Alto Comissariado para a Imigração e Diálogo Intercultural", 'http://www.acidi.gov.pt/' %></p>
<p><% link_to "CEMRI – Centro de Estudos das Migrações e das Relações Interculturais", '' %>
               CEMRI – Centro de Estudos das Migrações e das Relações Interculturais</p>
<p><%= link_to "UAb – Universidade Aberta", 'http://www.univ-ab.pt/' %></p>

<div id=logos>
  <%= link_to image_tag('logo_acidi.gif'), 'http://www.acidi.gov.pt/' %>
  <%= link_to image_tag('logo_uab.gif'), 'http://www.univ-ab.pt/' %>
</div>
