<p>
  <b>Author:</b>
  <%=h @author_photo.author_id %>
</p>

<p>
  <b>Photo:</b>
  <%=h @author_photo.photo_id %>
</p>


<%= link_to 'Edit', edit_author_photo_path(@author_photo) %> |
<%= link_to 'Back', author_photos_path %>
