<p>
  <b>Movie:</b>
  <%=h @movie_photo.movie_id %>
</p>

<p>
  <b>Photo:</b>
  <%=h @movie_photo.photo_id %>
</p>


<%= link_to 'Edit', edit_movie_photo_path(@movie_photo) %> |
<%= link_to 'Back', movie_photos_path %>
