<p>
  <b>Sound document:</b>
  <%=h @sound_document_writen_document.sound_document_id %>
</p>

<p>
  <b>Writen document:</b>
  <%=h @sound_document_writen_document.writen_document_id %>
</p>


<%= link_to 'Edit', edit_sound_document_writen_document_path(@sound_document_writen_document) %> |
<%= link_to 'Back', sound_document_writen_documents_path %>
