<p>
  <b>Sound document:</b>
  <%=h @sound_document_photo.sound_document_id %>
</p>

<p>
  <b>Photo:</b>
  <%=h @sound_document_photo.photo_id %>
</p>


<%= link_to 'Edit', edit_sound_document_photo_path(@sound_document_photo) %> |
<%= link_to 'Back', sound_document_photos_path %>
